{% if page.collection %}
  {% assign posts = site[page.collection] | sort: "weight" %}
{% else %}
  {% assign posts = site.posts | sort: "weight" %}
{% endif %}

{% for post in posts %}
  {% if post.url == page.url %}
    {% assign post_index = forloop.index0 %}
    {% break %}
  {% endif %}
{% endfor %}

{% if post_index > 0 %}
  {% assign prev_post = posts[post_index | minus: 1] %}
{% endif %}

{% if post_index < posts.size | minus: 1 %}
  {% assign next_post = posts[post_index | plus: 1] %}
{% endif %}

{% if prev_post or next_post %}
  <nav class="pagination">
    {% if prev_post %}
      <a href="{{ prev_post.url | relative_url }}" class="pagination--pager" title="{{ prev_post.title | markdownify | strip_html }}">
        ← {{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}: {{ prev_post.title }}
      </a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    
    {% if next_post %}
      <a href="{{ next_post.url | relative_url }}" class="pagination--pager" title="{{ next_post.title | markdownify | strip_html }}">
        {{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}: {{ next_post.title }} →
      </a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
